/* All Common css Start  */
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: "Plus Jakarta Sans", sans-serif;
}
a,
a:hover {
  text-decoration: none;
  display: inline-block;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  line-height: 0.8;
}
ul,
ol {
  list-style-type: none;
}
/* All Common css End */

/* Header Part Start  */
.navbar {
  background: #d9d9d9;
}
.nav-link {
  font-size: 18px;
  font-weight: 400;
  color: #5a5a5a;
  line-height: 120%;
  margin: 0 20px;
}
/* Header Part End */

/* Banner Part Start  */
#bannerPart {
  padding: 60px 0;
  background: #d9d9d9;
}
.bannertextleft h1 {
  color: #5a5a5a;
  font-size: 120px;
  font-weight: 800;
  padding-top: 55px;
  padding-bottom: 20px;
  line-height: 120%;
}
.bannertextleft h4 {
  color: #5a5a5a;
  font-size: 32px;
  font-weight: 700;
  padding-bottom: 260px;
  line-height: 120%;
}
.bannertextleft img {
  padding-right: 20px;
}
.bannertextright {
  padding-top: 470px;
  color: #5a5a5a;
}
.bannertextright h4 {
  font-size: 18px;
  font-weight: 400;
  color: #5a5a5a;
  line-height: 120%;
  padding: 20px 10px;
}
.bannertextright p {
  font-size: 18px;
  font-weight: 400;
  color: #5a5a5a;
  line-height: 160%;
  width: 480px;
  margin: 0 auto;
  padding: 0 10px;
}
/* Banner Part End */

/* MOTIVATION Part Start  */
#motivationPart {
  padding: 60px 0;
  background: #181818;
}
.mtextleft h3 {
  font-size: 48px;
  font-weight: 900;
  color: #ffff;
  line-height: 150%;
  padding-top: 105px;
}
.mlogoright img {
  margin-left: 100px;
}
.moItem h4 {
  font-size: 24px;
  font-weight: 900;
  color: #ffff;
  line-height: 150%;
  text-transform: uppercase;
  padding: 15px 0;
  width: 194px;
}
.moItem p {
  font-size: 16px;
  font-weight: 400;
  color: #ffff;
  line-height: 150%;
  width: 269px;
}
.mitemflex {
  display: flex;
  justify-content: space-between;
}
.motext {
  padding-left: 50px;
}
/* MOTIVATION Part End */

/* Service Part Start  */
#servicePart {
  padding: 90px 0;
  background: #000;
}
.serviceText h3 {
  font-size: 48px;
  font-weight: 900;
  color: #ffff;
  line-height: 150%;
  text-transform: uppercase;
  padding: 15px 0;
}
.serviceText p {
  font-size: 18px;
  font-weight: 400;
  color: #ffff;
  line-height: 160%;
  width: 966px;
  margin: 0 auto;
}
.serviceCard {
  width: 427px;
  height: 361px;
  background: #d9d9d9;
  padding: 10px 0;
  border-radius: 10px;
  transition: 0.4s;
}
.serviceCard h4 {
  padding: 20px;
  font-size: 24px;
  font-weight: 700;
  color: #ffff;
  line-height: 160%;
}
.serviceCard p {
  padding-top: 220px;
  padding-left: 20px;
  font-size: 24px;
  font-weight: 700;
  color: #ffff;
  line-height: 160%;
}
.serviceCard:hover {
  background: #fdf1f1;
  color: black;
}
/* Service Part End */

/* PORTFOLIO Part Start  */
#protfolioPart {
  padding: 90px 0;
  background: #181818;
}
.pTextone h5 {
  font-size: 18px;
  font-weight: 900;
  color: #ffff;
  line-height: 160%;
  padding: 0;
}
.pTexttwo h3 {
  font-size: 48px;
  font-weight: 900;
  color: #ffff;
  line-height: 150%;
  width: 693px;
}
.pTextthree h4 {
  font-size: 18px;
  font-weight: 900;
  color: #ffff;
  line-height: 160%;
  padding: 0;
}
.proTitle h3 {
  font-size: 32px;
  font-weight: 900;
  color: #ffff;
  line-height: 150%;
  width: 287px;
  padding-top: 45px;
  padding-bottom: 15px;
}
.proTitle p {
  font-size: 16px;
  font-weight: 400;
  color: #ffff;
  line-height: 160%;
  width: 300px;
}
.protow h3 {
  padding-top: 0;
}
.protow p {
  padding-bottom: 55px;
}
/* PORTFOLIO Part End */

/* Contact Part Start  */
#contactPart {
  padding: 90px 0;
  background: #000;
}
.contactCard {
  background: url(../images/c1.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 100px 0;
  border-radius: 10px;
}
.contactCard h3 {
  font-size: 72px;
  font-weight: 900;
  color: #ffff;
  line-height: 150%;
  width: 1017px;
  margin: 0 auto;
  padding: 0px 70px;
}
.mCB {
  padding: 15px 25px;
  background: #1944d3;
  color: #ffffff;
  border-radius: 10px;
  transition: 0.4s;
  margin-bottom: 20px;
  border: 1px solid rgba(0, 0, 0, 0);
}
.mCB:hover {
  background: transparent;
  border: 1px solid black;
  color: #181818;
}
/* Contact Part End */

/* Footer Part Start  */
#footerPart {
  padding:  100px 100px 0 100px;
  background: #222222;
}
.footerpOne p {
  font-size: 16px;
  font-weight: 400;
  color: #ffff;
  line-height: 150%;
  width: 500px;
  padding-top: 24px;
  padding-bottom: 24px;
}

.email {
  background: #222222;
  border: 1px solid white;
  padding: 12px 30px;
  max-width: 377px;
  margin: 10px 0;
}
.footerEmail a {
  padding: 12px 15px;
  color: #fff;
  border: 1px solid white;
  margin-left: 5px;
}
.footerPtow p {
  font-size: 16px;
  font-weight: 400;
  color: #ffff;
  line-height: 150%;
  width: 500px;
  padding-top: 24px;
}
.menu {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.menuOne ul li a {
  color: #fff;
  padding: 10px 0;
}
.menuright h4 {
  font-size: 16px;
  font-weight: 400;
  color: #ffff;
  line-height: 150%;
  padding-left: 35px;
}
.socialmedia ul li a{
  color: #fdf1f1;
  padding: 10px 0;
}
.socialmedia ul li a i{
  color: #fdf1f1;
  padding: 0 5px;
}
.border-bottom{
  border-bottom: 1px solid white;
  padding: 30px 0;
}
.fLeft h3{
    font-size: 14px;
  font-weight: 400;
  color: #ffff;
  line-height: 150%;
  padding-top: 50px;
}
.frightText a{
    font-size: 14px;
  font-weight: 400;
  color: #ffff;
  line-height: 150%;
  padding: 50px 10px;
}
/* Footer Part End */

/* Header Part Start  */
/* Header Part End */

/* Header Part Start  */
/* Header Part End */

/* Header Part Start  */
/* Header Part End */
