/* All Common css Start  */
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: "Plus Jakarta Sans", sans-serif;
}
a,
a:hover {
  text-decoration: none;
  display: inline-block;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  line-height: 0.8;
}
ul,
ol {
  list-style-type: none;
}
/* All Common css End */

/* Header Part Start  */
.navbar {
  background: #d9d9d9;
}
.nav-link {
  font-size: 18px;
  font-weight: 400;
  color: #ffff;
  line-height: 120%;
  margin: 0 20px;
}
/* Header Part End */

/* Banner Part Start  */
#bannerPart {
  padding: 60px 0;
  background: #d9d9d9;
}
.bannertextleft h1 {
  color: #ffff;
  font-size: 120px;
  font-weight: 800;
  padding-top: 55px;
  padding-bottom: 20px;
  line-height: 120%;
}
.bannertextleft h4 {
  color: #ffff;
  font-size: 32px;
  font-weight: 700;
  padding-bottom: 260px;
  line-height: 120%;
}
.bannertextleft img {
  padding-right: 20px;
}
.bannertextright {
  padding-top: 470px;
  color: #ffff;
}
.bannertextright h4 {
  font-size: 18px;
  font-weight: 400;
  color: #ffff;
  line-height: 120%;
  padding: 20px 10px;
}
.bannertextright p {
  font-size: 18px;
  font-weight: 400;
  color: #ffff;
  line-height: 160%;
  width: 480px;
  margin: 0 auto;
  padding: 0 10px;
}
/* Banner Part End */

/* MOTIVATION Part Start  */
#motivationPart {
  padding: 60px 0;
  background: #181818;
}
.mtextleft h3 {
  font-size: 48px;
  font-weight: 900;
  color: #ffff;
  line-height: 150%;
  padding-top: 105px;
}
.mlogoright img {
  margin-left: 100px;
}
.moItem h4 {
  font-size: 24px;
  font-weight: 900;
  color: #ffff;
  line-height: 150%;
  text-transform: uppercase;
  padding: 15px 0;
  width: 194px;
}
.moItem p {
  font-size: 16px;
  font-weight: 400;
  color: #ffff;
  line-height: 150%;
  width: 269px;
}
.mitemflex {
  display: flex;
  justify-content: space-between;
}
.motext{
  padding-left: 50px;
}
/* MOTIVATION Part End */

/* Service Part Start  */
#servicePart{
  padding: 90px 0;
  background: #000;
}
.serviceText h3{
  font-size: 48px;
  font-weight: 900;
  color: #ffff;
  line-height: 150%;
  text-transform: uppercase;
  padding: 15px 0;
}
.serviceText p{
  font-size: 18px;
  font-weight: 400;
  color: #ffff;
  line-height: 160%;
  width: 966px;
  margin: 0 auto;
  
}
.serviceCard{
  width: 427px;
  height: 361px;
  background: #d9d9d9;
  padding: 10px 0;
  border-radius: 10px;
  transition: .4s;
}
.serviceCard h4{
  padding: 20px;
     font-size: 24px;
  font-weight: 700;
  color: #ffff;
  line-height: 160%;
}
.serviceCard p{
  padding-top: 220px;
  padding-left: 20px;
    font-size: 24px;
  font-weight: 700;
  color: #ffff;
  line-height: 160%;
}
.serviceCard:hover{
  background: #fdf1f1;
  color: black;
}
/* Service Part End */

/* Header Part Start  */
/* Header Part End */

/* Header Part Start  */
/* Header Part End */

/* Header Part Start  */
/* Header Part End */

/* Header Part Start  */
/* Header Part End */

/* Header Part Start  */
/* Header Part End */

/* Header Part Start  */
/* Header Part End */
